 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1321px;
}

.u-section-1 .u-image-1 {
  width: 717px;
  height: 717px;
  background-image: url("images/portrait-young-beautiful-female-tourist-sitting-log-forest-near-tent-sleeping-bag7-min.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 53px 96px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 389px;
  height: 389px;
  background-image: url("images/happy-couple-forest-taking-selfie5-min.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -351px auto 0 60px;
}

.u-section-1 .u-shape-1 {
  width: 155px;
  height: 155px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -679px auto 0 143px;
}

.u-section-1 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: 239px 40px 0 auto;
}

.u-section-1 .u-group-1 {
  min-height: 369px;
  margin-top: 95px;
  margin-bottom: 60px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  width: 359px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 0;
  padding: 16px 52px 17px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1333px;
  }

  .u-section-1 .u-image-1 {
    width: 562px;
    height: 562px;
    margin-right: 60px;
  }

  .u-section-1 .u-image-2 {
    width: 362px;
    height: 362px;
    margin-top: -352px;
    margin-left: 171px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 52px;
  }

  .u-section-1 .u-shape-2 {
    width: 227px;
    height: 227px;
    margin-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1476px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 13px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 20px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 13px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1485px;
  }

  .u-section-1 .u-image-1 {
    width: 488px;
    height: 488px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 323px;
    height: 323px;
    margin-top: -175px;
    margin-left: -19px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 167px;
    height: 167px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1298px;
  }

  .u-section-1 .u-image-1 {
    width: 293px;
    height: 293px;
  }

  .u-section-1 .u-image-2 {
    width: 240px;
    height: 240px;
    margin-top: -46px;
    margin-left: -14px;
  }

  .u-section-1 .u-shape-1 {
    width: 73px;
    height: 73px;
    margin-top: -630px;
  }

  .u-section-1 .u-shape-2 {
    width: 101px;
    height: 101px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-3 {
    width: 320px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1289px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 55px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 1464px;
  grid-auto-columns: 33.3333%;
  grid-gap: 0px;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/6803.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-line-1 {
  width: 276px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 1.5rem;
}

.u-section-2 .u-text-3 {
  margin: 12px auto 0 0;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('images/grand-canyon-nature-footage-arizona-usa4.jpg');
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-line-2 {
  width: 276px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 1.5rem;
}

.u-section-2 .u-text-5 {
  margin: 12px auto 0 0;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/y8.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-line-3 {
  width: 276px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 1.5rem;
}

.u-section-2 .u-text-7 {
  margin: 12px auto 0 0;
}

.u-section-2 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('images/man-walking-stone-pathway-surrou.jpg');
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-line-4 {
  width: 276px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-8 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 1.5rem;
}

.u-section-2 .u-text-9 {
  margin: 12px auto 0 0;
}

.u-section-2 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/14.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-line-5 {
  width: 276px;
  transform-origin: left center;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-10 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 1.5rem;
}

.u-section-2 .u-text-11 {
  margin: 12px auto 0 0;
}

.u-section-2 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/579.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-line-6 {
  width: 276px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-12 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 1.5rem;
}

.u-section-2 .u-text-13 {
  margin: 12px auto 0 0;
}

.u-section-2 .u-image-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/45677.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-line-7 {
  width: 276px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-14 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 1.5rem;
}

.u-section-2 .u-text-15 {
  margin: 12px auto 0 0;
}

.u-section-2 .u-image-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/6890.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-line-8 {
  width: 276px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-16 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 1.5rem;
}

.u-section-2 .u-text-17 {
  margin: 12px auto 0 0;
}

.u-section-2 .u-image-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('images/brown-wooden-pathway-green-trees.jpg');
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-line-9 {
  width: 276px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-18 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 1.5rem;
}

.u-section-2 .u-text-19 {
  margin: 12px auto 0 0;
}

.u-section-2 .u-text-20 {
  font-style: italic;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    grid-auto-columns: 33.333333333333336%;
    min-height: 1207px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    grid-auto-columns: 50%;
    min-height: 2311px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 659px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-3 .u-form-1 {
  height: 311px;
  width: 678px;
  margin: 74px auto 60px;
}

.u-section-3 .u-form-group-1 {
  margin-left: auto;
}

.u-section-3 .u-label-1 {
  letter-spacing: 0px;
}

.u-section-3 .u-input-1 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 300;
}

.u-section-3 .u-form-group-2 {
  margin-left: auto;
}

.u-section-3 .u-label-2 {
  letter-spacing: 0px;
}

.u-section-3 .u-input-2 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 300;
}

.u-section-3 .u-form-group-3 {
  margin-left: auto;
}

.u-section-3 .u-label-3 {
  letter-spacing: 0px;
}

.u-section-3 .u-input-3 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 300;
}

.u-section-3 .u-form-group-4 {
  margin-left: auto;
}

.u-section-3 .u-btn-1 {
  font-size: 1.125rem;
  margin-left: auto;
  letter-spacing: 1px;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  --radius: 50px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  background-image: none;
  padding: 20px 0 21px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-btn-1 {
    border-style: solid;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-form-1 {
    width: 340px;
    margin-top: 55px;
  }
}